snippet in
	inspect
snippet pry
	binding.pry

# Factory Girl
snippet Fd
	Factory.define :${1:model} do |factory|
		factory.${3:attribute} ${4}
	end
snippet Fdc
	Factory.define :${1:obj}, :class => ${2:Class} do |factory|
		factory.${3:attribute} ${4}
	end
snippet F
	factory(:${1:thing})


# Rspec
snippet des
	describe ${1:description} do
		${2}
	end

snippet it
	it "${1:should }" do
		${2}
	end


